body {
  background-color: #ffffff;
}

main a {
  color: red;
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

main {
  background-color: #ffffff;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 100px;
  margin-bottom: 60px;
}

.buttonindex {
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.bloc-title {
  margin-bottom: 50px;
}

.block .start .p2 p {
  text-align: left;
}

.p-gauche,
.p-droite {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.p-droite {
  text-align: right;
}

.p-gauche {
  text-align: left;
}

.block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
  object-fit: scale-down;
  margin: 100px 0;
}

@media (max-width: 768px) {
  main {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 60px;
  }

  main h1 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 40px;
  }

  .block {
    grid-template-columns: 1fr;
    gap: 30px;
    margin: 60px 0;
    display: flex;
    flex-direction: column;
  }

  .hotel {
    grid-template-columns: 1fr;
    gap: 30px;
    margin: 60px 0;
    display: flex;
    flex-direction: column;
  }

  .block h2 {
    font-size: 36px;
  }

  .block:nth-of-type(2) .img-left {
    order: 3;
  }

  .block:nth-of-type(2) > div:not(.img-left) {
    order: 2;
  }

  .block:nth-of-type(2) h2 {
    order: 1;
  }

  .block:nth-of-type(3) {
    display: flex;
    flex-direction: column;
  }

  .block:nth-of-type(3) h2 {
    order: 1;
    margin-bottom: 20px;
  }

  .block:nth-of-type(3) .start {
    order: 2;
    width: 100%;
  }

  .img-left,
  .img-right {
    width: 100%;
    max-width: 100%;
  }

  .img-left img,
  .img-right img {
    width: 100%;
    height: auto;
  }

  .block .p2 {
    text-align: left;
  }

  .block .start {
    width: 100%;
  }

  .block .start .p2 p {
    text-align: left;
  }

  .p-gauche {
    text-align: left;
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  main {
    margin-left: 3%;
    margin-right: 3%;
  }

  main h1 {
    font-size: 36px;
  }

  .block {
    margin: 40px 0;
  }

  .block h2 {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .hotel {
    flex-direction: column-reverse;
  }
}

