.button {
    background-color: #008cba;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    background-color: #005f5f;
}

.bandeau {
    display: block;
    text-decoration: none;
    background-color: #D72638;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: Urbanist, sans-serif;
    border-bottom: black 4px solid;
}

.bandeau {
    display: block;
    background-color: #D72638;
    color: white;
}

.bandeau p {
    color: inherit;
    margin: 0;
}

.bandeau:hover {
    color: black;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
}
