/*GLOABL STYLES*/

@font-face {
    font-family: 'Urbanist';
    src: url('fonts/Urbanist-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/*END GLOBAL STYLES*/

footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}
footer a {
    color: #ffffff; ;
}
footer a:hover {
    color: #ffff66;
}

footer section {
    margin: 20px;
}

footer img {
    width: 20 px;
    height: auto;
    margin: 15px;
}

.logo {
    width: 30px; /* Largeur */
    height: auto; /* Hauteur proportionnelle */
    margin: 10px; /* Marge */
}

.logofb {
    width: 20px; /* Largeur */
    height: auto; /* Hauteur proportionnelle */
    margin: 10px; /* Marge */
}

.imagesfooter{
    width: 100px;
    height: auto;
}