/*GLOABL STYLES*/

@font-face {
    font-family: 'Urbanist';
    src: url('../sources/polices/Urbanist/Urbanist-VariableFont_wght.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/*END GLOBAL STYLES*/

footer {
    text-align: center;
    background-color: #000000;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
}
footer a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Urbanist', sans-serif;
}
footer a:hover {
    color: #ffff66;
}

footer section {
    margin: 20px;
}

footer img {
    width: 20 px;
    height: auto;
    margin: 15px;
}

.logo {
    width: 30px; /* Largeur */
    height: auto; /* Hauteur proportionnelle */
    margin: 10px; /* Marge */
}

.logofb {
    width: 20px; /* Largeur */
    height: auto; /* Hauteur proportionnelle */
    margin: 10px; /* Marge */
}

.imagesfooterbdx{
    width: 70px;
    height: auto;
}

.imagesfooter{
    width: 200px;
    height: auto;
}

