/*GLOABL STYLES*/

@font-face {
    font-family: 'Urbanist';
    src: url('fonts/Urbanist-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/*END GLOBAL STYLES*/

/* Header styles */
header {
    display: block;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px #0000001a;
    position: relative;
    overflow: hidden;
}

header nav {
    position: absolute;
    right: 150px;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
}

header button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}