body {
    background-color: #ffffff;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


main {
    background-color: #ffffff;
    margin-left : 10% ;
    margin-right : 10% ;
    margin-top: 100px;
    margin-bottom: 60px;
}


/* End of CSS file */
/* Main styles for the webpage */
/* Additional styles can be added below */



.buttonindex {
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}


.bloc-title {
    margin-bottom: 50px;
}

/*.img-left {
    display: block;
    float: left;
    height: auto;
    width : 80%;
    padding: 10px;
    object-fit: contain;
}

.img-right {
    display: block;
    float: right;
    height: auto;
    width : 80%;
    padding: 10px;
    object-fit: contain;
}*/

.block .start .p2 p{
    text-align: right;
}

.p-gauche,
.p-droite {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.p-droite {
    text-align: right;
}

.p-gauche {
    text-align: left;
}

/*.block img {
    height: auto;
    display: inline-block;
    object-fit: none;
    width: 200px;  taille souhaitée 
}*/


.block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
    object-fit: scale-down;
    margin: 100px 0;
}


/* Responsive design for smaller screens */
@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }
}