/*GLOABL STYLES*/

@font-face {
    font-family: 'Urbanist';
    src: url('../sources/polices/Urbanist/Urbanist-VariableFont_wght.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/*END GLOBAL STYLES*/