body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

main {
    background-color: #ffffff;
    margin-left : 10% ;
    margin-right : 10% ;
    margin-top: 50px;
    margin-bottom: 60px;
}

/* End of CSS file */
/* Main styles for the webpage */
/* Additional styles can be added below */



/* Responsive design for smaller screens */
@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }
}

/* End of responsive styles */
#logoMADD {
    float: left;
    max-width: 200px; /* Largeur */
    height: auto; /* Hauteur*/
}

#imgMADDbatiment {
    float: right;
    height: 450px;
}

#imgleft {
    float: left;
    height: auto;
}

#imgright {
    float: right;
    height: auto;
}


.p-droite {
    text-align: right;
}

.p-gauche {
    text-align: left;
}

.bloc-droite {
    float: right;
}

.bloc-gauche {
    float: left;
}

