/*GLOABL STYLES*/

@font-face {
    font-family: 'Urbanist';
    src: url('fonts/Urbanist-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/*END GLOBAL STYLES*/

/* Navigation styles */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow: visible;
    display: flex;
    justify-content: center;
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #ffffff;
}

                            /* Dropdown styles */
nav ul li ul {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    z-index: 1000;
    top: 100%;
    left: 0;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    float: none;
}

nav ul li ul li a {
    padding: 12px 16px;
    text-align: left;
}

nav ul li ul li a:hover {
    background-color: #ffffff;
}

