nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: visible;
    display: flex;
    justify-content: center;
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: white;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1000;
    top: 100%;
    left: 0;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    float: none;
}

nav ul li ul li a {
    padding: 12px 16px;
    text-align: left;
}

nav ul li ul li a:hover {
    background-color: white;
}

html, body {
    height: 100%;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
