h1 {
    color: #333333;
    text-align: center;
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.75em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #666666;
    font-family: Urbanist;
}
