@font-face {
    font-family: 'Urbanist';
    src: url('../sources/polices/Urbanist/Urbanist-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'SpectralSC';
    src: url('../sources/polices/Spectral_SC/SpectralSC-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SpectralSC';
    src: url('../sources/polices/SpectralSC/SpectralSC-Medium.ttf') format('truetype');
    font-weight: 500;
}

h1 {
    color: black;
    font-size: 96px;
    font-weight: 500;
    font-family: 'SpectralSC';
}

h2 {
    color: black;
    font-size: 60px;
    font-weight: 400;
    font-family: 'SpectralSC';
}

h3 {
    color: black;
    font-size: 48px;
    font-weight: 400;
    font-family: 'SpectralSC';
}

h4 {
    color: black;
    font-size: 36px;
    font-weight: 400;
    font-family: 'SpectralSC';
}

h5 {
    font-size: 1.25em;
    margin-bottom: 0.5em;
    color: white;
    font-weight: 400;
    font-family: 'SpectralSC';
}
/*p {
    color: black;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Urbanist';
}*/
.p2{
    color: black;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Urbanist';
}

.p1{
    color: black;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Urbanist';
}

.extra{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Urbanist';
}


.boutton{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Urbanist';
}

a{
    color: black;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Urbanist';
}
footer p {
    font-size: 16px;
    line-height: 1.5;
    color: white;
    font-family: Urbanist;
    position: middle;
}

.h1-left {
    text-align: left;
}